client/speechTherapist/Connected Services/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/model" />
  <xs:element name="GetAllMetupal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMetupalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllMetupalResult" nillable="true" type="q1:ArrayOfmetupal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMetupal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="m1" nillable="true" type="q2:metupal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMetupalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMetupal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="m2" nillable="true" type="q3:metupal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMetupalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetupalByStatusAndKupa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetupalByStatusAndKupaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetMetupalByStatusAndKupaResult" nillable="true" type="q4:ArrayOfmetupal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetTreatmentByNameResult" nillable="true" type="q5:ArrayOftreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMetupal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="m3" nillable="true" type="q6:metupal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMetupalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMetupalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="t1" nillable="true" type="q7:treatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTreatmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="t2" nillable="true" type="q8:treatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTreatmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="t3" nillable="true" type="q9:treatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTreatmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetTreatmentResult" nillable="true" type="q10:ArrayOftreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetProblemsResult" nillable="true" type="q11:ArrayOfproblem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemForMetupalByNameMetupal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemForMetupalByNameMetupalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetProblemForMetupalByNameMetupalResult" nillable="true" type="q12:problemForMetupal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>