client/speechTherapist/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/sharat_speech_therapist/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/model" />
  <xs:element name="GetAllDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllDocumentsResult" nillable="true" type="q1:ArrayOfdocuments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMetupal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMetupalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllMetupalResult" nillable="true" type="q2:ArrayOfmetupal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProblem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllProblemResult" nillable="true" type="q3:ArrayOfproblem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProblemForMetupal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProblemForMetupalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllProblemForMetupalResult" nillable="true" type="q4:ArrayOfproblemForMetupal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSingle_treatment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSingle_treatmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllSingle_treatmentResult" nillable="true" type="q5:ArrayOfsingle_treatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSummingOfSeries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSummingOfSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllSummingOfSeriesResult" nillable="true" type="q6:ArrayOfsummingOfSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTreatment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTreatmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllTreatmentResult" nillable="true" type="q7:ArrayOftreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>