client/speechTherapist/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/sharat_speech_therapist/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/sharat_speech_therapist/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/sharat_speech_therapist/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDocuments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMetupal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMetupal" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMetupal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMetupalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllProblem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProblem" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllProblem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProblemResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllProblemForMetupal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProblemForMetupal" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllProblemForMetupal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProblemForMetupalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSingle_treatment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSingle_treatment" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSingle_treatment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSingle_treatmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSummingOfSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSummingOfSeries" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSummingOfSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSummingOfSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTreatment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTreatment" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTreatment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTreatmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllDocuments" message="tns:IService1_GetAllDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllDocumentsResponse" message="tns:IService1_GetAllDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMetupal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMetupal" message="tns:IService1_GetAllMetupal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMetupalResponse" message="tns:IService1_GetAllMetupal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProblem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllProblem" message="tns:IService1_GetAllProblem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllProblemResponse" message="tns:IService1_GetAllProblem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProblemForMetupal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllProblemForMetupal" message="tns:IService1_GetAllProblemForMetupal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllProblemForMetupalResponse" message="tns:IService1_GetAllProblemForMetupal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSingle_treatment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllSingle_treatment" message="tns:IService1_GetAllSingle_treatment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllSingle_treatmentResponse" message="tns:IService1_GetAllSingle_treatment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSummingOfSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllSummingOfSeries" message="tns:IService1_GetAllSummingOfSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllSummingOfSeriesResponse" message="tns:IService1_GetAllSummingOfSeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTreatment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTreatment" message="tns:IService1_GetAllTreatment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTreatmentResponse" message="tns:IService1_GetAllTreatment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDocuments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMetupal">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMetupal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProblem">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllProblem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProblemForMetupal">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllProblemForMetupal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSingle_treatment">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllSingle_treatment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSummingOfSeries">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllSummingOfSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTreatment">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTreatment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/sharat_speech_therapist/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>